RewriteEngine On
RewriteBase /website_skeleton/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /index.php?uri=$1 [QSA,L]

# disable access to dotfiles
RewriteRule ^\. - [F,L]

# disable access to src
RewriteRule ^src - [F,L]

# disable access to composer
RewriteRule ^composer\.json - [F,L]
RewriteRule ^composer\.lock - [F,L]